<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Document</title>
    <script>
        $.ajax({
            type: "GET",
            url: "/test?title_give=봄날은간다",
            data: {},
            success: function (response) {
                console.log(response)
            }
        })
        $.ajax({
            type: "POST",
            url: "/test",
            data: { title_give: '봄날은간다222' },
            success: function (response) {
                console.log(response)
            }
        })

    </script>
</head>

<body>
    <h1>서버를 만들었다!</h1>
    <img src="{{ url_for('static', filename='rome.jpg') }}" />
</body>

</html>