<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{url_for('static', filename='header.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='section.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='aside.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='footer.css')}}">

    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="section.css">


    <title>Jobs Collection</title>
</head>

<body>
    <header>

        <div id="header_logo">

            <div id="main_logo">
                Main logoMain logoMain logoMain logoMain logoMain logoMain logoMain logoMain logoMain logoMain logoMain
                logoMain logoMain logoMain logoMain logoMain logoMain logoMain logoMain logoMain logoMain logoMain
                logoMain logoMain logo
            </div>

            <div id="main_img">
                logo
            </div>

        </div>

        <div id="header_input">
            <div id="input_div">
                <input class="input_box" />

                <select class="location_box">
                    <option>전체</option>
                    <option>서울</option>
                    <option>경기</option>
                    <option>인천</option>
                    <option>부산</option>
                    <option>대구</option>
                    <option>광주</option>
                </select>

                <input class="income_box" />

                <button class="search_btn">

                </button>
            </div>
        </div>
    </header>

    <section>
        <div id="section_center">

            <div id="recruit_info">
                <div id="recruit_info_box">
                    <h2> 채용정보</h2>
                </div>
                <div id="recruit_info_number">
                    <h4>총 xx건</h6>
                </div>
            </div>

            <div id="total_recruit_info">
                <div id="recruit_post">
                    <div id="recruit_post_info">
                        <div id="company_name">
                            <strong>
                                회사 이름
                            </strong>
                        </div>
                        <div id="position_name">
                            <span>
                                회사 업무, 담당 업무 등
                            </span>
                        </div>
                        <div id="other_name">
                            <span>위치, 연봉 등</span>
                        </div>

                    </div>
                    <div id="recruit_post_link">

                    </div>
                </div>

            </div>
        </div>
    </section>

    <aside>

    </aside>

    <footer>

    </footer>


</body>

</html>